header{
    background-color:black;
    color:white;
    font-family: 'Orbitron', sans-serif;
    font-size:2vw;
}

#logo {
    width:100%;
    height:auto;
    width:60%;
}

.header_links{
    text-decoration:none;
    color:black;
    position:relative;
    top:5%;
}

header .row {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.column {
    display:flex;
    flex-direction:column;
    position:relative;
    right:7%;
}

#clock {
    font-size:1.5vw;
    font-weight:bold;
    width:300px;
    height:50px;

}

