body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}

*{
    box-sizing: border-box;
}

.container {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 15vw;
    color:white;
}

.controls {
    margin-top:16px;
}

.button {
    font-weight:bold;
    border-radius:5px;
    border:none;
    color:white;
    padding : 4px 8px;
    margin-left:4px;
    cursor: pointer;
}

.set-alarm {
    background-color: blue;
}

.clear-alarm {
    background-color:red;
}
