body, html {
    margin: 0;
    padding: 0;
    background-color: black;
    text-align:center;
    
}


/* CLOCK AND ALARM */

#oclock-alarm {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin-top:200px;
}

#clock {
    font-family: 'Orbitron', sans-serif;
    font-size: 15vw;
    color:white;
}

.controls {
    margin-top:16px;
}

.button {
    font-weight:bold;
    border-radius:5px;
    border:none;
    color:white;
    padding : 4px 8px;
    margin-left:4px;
    cursor: pointer;
}

.set-alarm {
    background-color: blue;
}

.clear-alarm {
    background-color:red;
}

#countdown-timer {
    height:200px;
    width:700px;
    background-color:aquamarine;
    margin: 0 auto;
    border:5px solid blanchedalmond;
    margin-top:100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.label {
    margin : 0 ;
    justify-self:center;
    align-self: center;
    font-size:30px;
}

#hour-label {
    grid-area: 1 / 2 / 1 /3 ;
}

#min-label {
    grid-area: 1 / 3 / 1 /4 ;
}

#sec-label {
    grid-area: 1 / 4 / 1 /5 ;
}

.time {
    justify-self:center;
    align-self:center;
    border:none;
    background-color:black;
    font-size:50px;
    width:70px;
    height:50px;
    color:white;
}

#hour {
    grid-area: 2 / 2 / 2 / 3 ;
}


.semicolon {
    justify-self:center;
    align-self:center;
    font-size:30px;
    margin: 0;
}

#p1 {
    grid-area: 2 / 2 / 2 / 4;
}

#minute {
    grid-area : 2 / 3 / 2 / 4 ;
}

#p2 {
    grid-area: 2 / 3 / 2 / 5;
}

#second {
    grid-area : 2 / 4 / 2 / 5 ;
}

.btn {
    align-self:center;
    width:100px;
    height:40px;
    font-size:30px;
    justify-self:center;
}

#start {
    grid-area: 3 / 2 / 3 / 4 ;
}

#reset {
    grid-area: 3 / 3 / 3 / 5 ;
}